# Examples
Input:
### Added files:
['polesie_erp/users.php']

### Deleted files:
[]

### Modified files:
['polesie_erp/users.php']

###current .gitignore Content

Expected Output:
(empty — output nothing)